*{
    background-color: rgb(31, 31, 31);
    color: white;
}

.logo {
    font-size: 50px;
    color: red;
}
.login {
    text-align: right;
}
.lang {
    text-align: right;
}

.top_copy {
    padding: 40px;
    text-align: center;
    font-size: 35px;
}
h4 {
    margin: 0px;
}
.input {
    height: 70px;
    width: 500px;
    color: white;
}

button {
    font-size: 20px;
    margin: 5px;
}

.second-container {
    text-align: center;
}